.list-menu__item_view-all {
    font-style: italic;
    color: rgb(var(--color-link)) !important;
    justify-content: start !important;
}

@media screen and (min-width: 990px) {
    .list-menu__item_view-all:before {
        content: '→ \00a0';
    }
}
